* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG.css*/
/* body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
} */
.box.green {
  background-color: green;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.box.purple {
  background-color: purple;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.box.blue {
  background-color: blue;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 30px 50px;
}

ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  list-style: none;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
